@{
    ViewData["Title"] = "Home Page";
}

<!-- ##### Welcome Area Start ##### -->
<section class="hero-section fullwidth-header" id="home">
</section>
<!-- ##### Welcome Area End ##### -->




<div class="clearfix"></div>

<div class="striples-bg">

    <!-- Start what we do section1 -->
    <section class="what-we-do section-padding-70-0" id="page1">
        <div class="container">
            <div class="section-heading text-center">
                <!-- Dream Dots -->



                <h2 class="wow fadeInUp" data-wow-delay="0.3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp; font-family: 'Do Hyeon', sans-serif;">
                    (주) 삼성로프 연혁
                </h2>

                <div class="row align-items-center" style="padding-left:250px;">
                    <img src="~/templetes/asc/img/rope/history.png" alt="그림없음" class="wow fadeInUp" data-wow-delay="0.3s">
                </div>

            </div>



        </div>
    </section>
    <!-- End what we do section1 -->
    <!-- Start what we do section2 -->
    <section class="what-we-do section-padding-70-100" id="page2">
        <div class="container">
            <div class="section-heading text-center">

                <h2 class="wow fadeInUp" data-wow-delay="0.3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp; font-family: 'Do Hyeon', sans-serif;">
                    특허
                </h2>


                <div class="col-12 col-lg-3 offset-lg-0 col-md-12 no-padding-left" style="margin-top:70px; margin-bottom:100px;">
                    <img src="~/templetes/asc/img/rope/tech1.png" alt="그림없음" class="wow fadeInUp" data-wow-delay="0.3s">
                    <p style="font-family: 'Nanum Gothic', sans-serif;">해조류 양식용 그물의 제조방법</p>
                </div>
                <div class="col-12 col-lg-3 offset-lg-0 col-md-12 no-padding-left" style="margin-top:70px; margin-bottom:100px;">
                    <img src="~/templetes/asc/img/rope/tech2.png" alt="그림없음" class="wow fadeInUp" data-wow-delay="0.3s">
                    <p style="font-family: 'Nanum Gothic', sans-serif;">해조류 양식용 그물</p>
                </div>
                <div class="col-12 col-lg-3 offset-lg-0 col-md-12 no-padding-left" style="margin-top:70px; margin-bottom:100px;">
                    <img src="~/templetes/asc/img/rope/tech3.png" alt="그림없음" class="wow fadeInUp" data-wow-delay="0.3s">
                    <p style="font-family: 'Nanum Gothic', sans-serif;">해조류 양식용 그물 제조방법</p>
                </div>
                <div class="col-12 col-lg-3 offset-lg-0 col-md-12 no-padding-left" style="margin-top:70px; margin-bottom:100px;">
                    <img src="~/templetes/asc/img/rope/tech4.png" alt="그림없음" class="wow fadeInUp" data-wow-delay="0.3s">
                    <p style="font-family: 'Nanum Gothic', sans-serif;">김 양식용 그물망</p>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />

    </section>

    <!-- End what we do section2 -->
</div>

<div class="striples-bg">
    <!-- Start what we do section3 -->
    <section class="what-we-do section-padding-100-0" id="page3">
        <div class="container">
            <div class="section-heading text-center">

                <h2 class="wow fadeInUp" data-wow-delay="0.3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp; font-family: 'Do Hyeon', sans-serif;">
                    스마트 공장 기초단계 구축
                </h2>


                <div class="col-12 col-lg-12 offset-lg-0 col-md-12 no-padding-left" style="margin-top:50px;">
                    <img src="~/templetes/asc/img/rope/factory1.png" alt="그림없음" class="wow fadeInUp" data-wow-delay="0.3s">
                </div>
                <p style="font-family: 'Nanum Gothic', sans-serif;">하드웨어 설계도</p>

            </div>
        </div>
    </section>
    <!-- End what we do section3 -->

    <!-- Start what we do section4 -->
    <section class="what-we-do section-padding-0-100" id="page4">
        <div class="container">
            <div class="section-heading text-center">
                <div class="col-12 col-lg-4 offset-lg-0 col-md-12 no-padding-left" style="margin-bottom:100px;">
                    <img src="~/templetes/asc/img/rope/factory2.png" alt="그림없음" class="wow fadeInUp" data-wow-delay="0.3s">
                    <p style="font-family: 'Nanum Gothic', sans-serif;">대형 모니터</p>
                </div>

                <div class="col-12 col-lg-4 offset-lg-0 col-md-12 no-padding-left" style="margin-bottom:100px;">
                    <img src="~/templetes/asc/img/rope/factory3.png" alt="그림없음" class="wow fadeInUp" data-wow-delay="0.3s">
                    <p style="font-family: 'Nanum Gothic', sans-serif;">터치 PC</p>
                </div>

                <div class="col-12 col-lg-4 offset-lg-0 col-md-12 no-padding-left" style="margin-bottom:100px;">
                    <img src="~/templetes/asc/img/rope/factory4.png" alt="그림없음" class="wow fadeInUp" data-wow-delay="0.3s">
                    <p style="font-family: 'Nanum Gothic', sans-serif;">경광등</p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- End what we do section4 -->

